<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/style.css">

{{ if .Refresh }}
<meta http-equiv="refresh" content="60">
{{ end }}

<title>System Metrics</title>

<style>
{{ template "rawcss" }}
</style>

<header>
	{{ template "logo" }}

	<form id="time-range" action="">
		<div class="inputs">
			<div>
				<label for="time-value">Time range:</label>
				<input type="text" id="time-value" name="t" value="{{ .Dura }}">
				<label>ago to now.</label>
			</div>

			<div>
				<input
					type="checkbox" id="refresh" name="refresh"
					{{ if .Refresh }} checked {{ end }}
				>
				<label for="refresh">Auto-refresh every minute</label>
			</div>
		</div>

		<input type="submit" value="Change">
	</form>
</header>

<main>
	{{ range .Graphs }}
	<div class="graph-item">
		<h2>{{ .Name }}</h2>
		{{ template "graph" .Data }}
	</div>
	{{ else }}
	{{ template "errbox" .Error }}
	{{ end }}
</main>

<main>
	<small>
		<a href="https://git.unix.lgbt/diamondburned/sysmet">Source code</a>
		- Licensed under the AGPL v3.0.
	</small>
</main>
