{{ define "graph" }}

{{ $graph := (prepareGraph .) }}

{{ if $graph.Error }}
{{ template "errbox" $graph.Error }}
{{ else }}
<div class="graph-box">
	<div class="legend">
		<small class="max">{{ $graph.PointInString $graph.MaxSample }}</small>
		<small class="mid">{{ $graph.PointInString $graph.MidSample }}</small>
		<small class="min">{{ $graph.PointInString $graph.MinSample }}</small>
	</div>
	<div class="graph">
		{{ if $graph.Samplesets }}
		<div class="graph-hovers">
			{{ renderGraphHovers $graph }}
		</div>

		<svg class="graph-line" xmlns="http://www.w3.org/2000/svg" version="1.1"
		     viewBox="0 0 {{ .Width }} {{ .Height }}">
			{{ drawPaths $graph }}
		</svg>
		{{ end }}
	</div>
</div>
{{ end }}

{{ end }}
